/* *{
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
} */
:root {
    --page-title:"Poppins",sans-serif ;
    --titles: #f6c90E;
    --sidebar:#3a4750 ;
    --background: lightblue;
    --fontcolor: black;
    --history-title:"Poppins",sans-serif ;
    --history-list:"Poppins",sans-serif ;
    --movie-title:"Poppins",sans-serif ;
    --movie-date:"Poppins",sans-serif ;
    --movie-time:"Poppins",sans-serif ;
    --movie-overview:Arial, Helvetica, sans-serif;
    --border-color: #f6c90E;
   

    
}
/* BASE START */
*, *:before, *:after {
    box-sizing: border-box;
  }
body{
    background-color: lightblue;
}
.wrapper {
    max-width: 1260px;
    margin: 0 20px;
    display: grid;
    grid-gap: 10px;
  
}
/* BASE END */
/* HEADER & FOOTER START */
.header{
    text-align: center;
    font-size:5rem;
    font-weight: bold;
    background: var(--titles);
    font-family: var(--page-title);
}
.header, .footer {
    grid-column: 1 / -1;
    /* needed for the floated layout */
    clear: both;
    border: 2px solid black;
    
}
.footer{
    background:var(--titles);   
    text-align: center;
    font-family: var(--page-title);
}
/* HEADER &  FOOTER END */
/* SIDEBAR START */
.sidebar  {
    text-align: center;
    display: flex;
    flex-direction: column;
    float: left;
    width:200px;
    background: var(--sidebar);
    color: var(--titles);
    font-family: var(--history-title);
    box-shadow: 2px 2px rgba(255, 255, 0, 0.664);
  }
.savedSearch {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--titles);
    border-radius: 15px;
    padding: 5px 10px ;
    font-family: var(--history-list);
    width: 100%;
}
.searchHistory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    padding: 0px;
}
.searchForm{
    font-size:1rem;
    margin:0;
    padding:0;
}

#searchButton{
    padding:.5 rem;
    color:white;
    background-color:blue;
    border-radius: 0px 10px 10px 0px;
}
.deletebtn{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.delete {
    display: flex;
    justify-content: end;
    justify-content: space-between;   
}
/* SIDE BAR END */
/* MOVIE INFO START */
/* container to hold the card */
.container {
    
    height: 80vh;
}
/* the card that supplies the grid */
.movie-card{ 
    height: 100%;
    display: grid;
    grid-template-columns: 50%  50%;
    grid-template-rows: 5% 5% 5% 5% 20% 20% 20% 20%;
}
.movie-title {
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-column: 1;
    font-family: var(--movie-title);
    border-bottom: 2px solid var(--border-color);
}
.movie-date {
    text-align: left;
    grid-row: 3;
    font-family: var(--movie-date);
    
}
.movie-date span{
    border-bottom: 2px solid var(--border-color);
}
.movie-runtime {
    text-align: left;
    grid-row: 4;
    font-family: var(--movie-time);
}
.movie-runtime span {
    border-bottom: 2px solid var(--border-color);
}
.movie-overview{
    display: flex;
    justify-content: center;
    text-align: center;
    grid-row: 5 ;
    text-align: center;
    font-family: var(--movie-overview);
    padding: 10px 10px 0 0;
}
/* trailer css START */
.trailer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    grid-column: 1;
    grid-row: 7/ span 8;
    margin: 0 0 5px 5px;    
}
.trailerText{
    display: flex;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    font-size: 1.5 rem;
    border: 3px solid #f6c90e;
    border-radius: 10px;
    padding: 1rem;
    text-decoration: none;
    padding:5px;
    color: #f6c90e;
    height: 270px;
    width: 270px;
}
.i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:1.6 rem;
}
.fa-play:before {
    font-size: 3rem;
}
/* Trailer CSS END */
.movie-img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    grid-column: 2 ;
    grid-row-start: 5;
    grid-row-end: 9;
}
/* POSTER IMAGE SIZE */
 .img-size{
     padding: 5px;
    background: white;
    width: 40vh;
} 
/* MODAL START */
.modal{
    position:fixed;
    top:50%;
    left:50%;
    /* scale(0) will turn modal invisible */
    transform:translate(-50%, -50%) scale(0);
    transition: 500ms ease-in-out;
    border: 5px solid black;
    border-radius: 20px;
    z-index:10;
    background-color: white;
    width: 600px;
    max-width: 80%;

}
.modal.active{
    /* scale(1) will make modal visible */
    transform:translate(-50%, -50%) scale(1); 
}

.modal-header{
    padding:1rem;
    font-size:2rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
   
    
}
/* Modal End */
.close-button{
    font-size:2rem;
    cursor: pointer;
    outline:none;
    font-size: bold;
    background:none;
    border:none;

}
/* Overlay */
#overlay{
    position:fixed;
    opacity:0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, .75);
    /* this allows buttons to be able to be clicked through the overlay */
    pointer-events: none;
    transition: 500ms ease-in-out;
}

#overlay.active{
    pointer-events:all;
    opacity:1;
}




@media screen and (min-width: 500px) {

    /* no grid support? */
    .sidebar {
      float: left;
      width: 200px;
    }
  
    .content {
      float: right;
      width: 85.7872%;
    }
  
    .wrapper {
      margin: 0 auto;
      grid-template-columns: 1fr 3fr;
    }
    
    .header, .footer {
      grid-column: 1 / -1;
      /* needed for the floated layout */
      clear: both;
    }
  
  }
  
  .wrapper > * {
    
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    /* needed for the floated layout*/
    margin-bottom: 10px;
  }
  
  /* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
  @supports (display: grid) {
    .wrapper > * {
      width: auto;
      margin: 0;
    }
  }

.moviePosterImg{
    width: 500px;
    margin:1rem;
}

@keyframes blinking{
    0% {background-color: #3a4570 }
    50% {background-color: #a1a1a1}
    100% {background-color: #3a4570 }
}

